{% extends 'base.html' %}
{% block content_title %}
    <h2>Flux</h2>
    <form action="{% url 'Creer_un_ticket' %}">
        <button onclick="submit">Demander une critique</button>
    </form>
{% endblock content_title %}

{% block content %}
   
    {% for ticket in tickets %}
        <div class="ticket">
            <p class="time">{{ ticket.date_created }}</p>
            <p class="autor">Ticket - {{ ticket.author }} </p>
            <p class="title_book">{{ ticket.title }}</p>
            <p class="description">{{ ticket.description }}</p>
            <img src="{{ ticket.image.url }}">
        </div>
    {% endfor %}
{% endblock content %}