{% load static %}
<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    </head>
    
    <body>
        <header>
            <img src="../static/images/logo.jpg" alt="LITRevu" id="logo" />
            <div class="container_bandeau">
                {% if user.is_authenticated %}
                    <div class="connect">
                        <p>Vous êtes connecté(e) en tant que {{ request.user }}.</p>
                        <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
                    </div>
                    {% else %}
                    <div class="connexion">
                        {% block content_connexion %}
                        {% endblock %}
                    </div>
                {% endif %}
                <img src="../static/images/logo.jpg" alt="LITRevu" id="logo" />
                {% if user.is_authenticated %}
                    <div class="nav">
                        <ul>
                            <li><a href="{% url 'home' %}">Flux</a></li>
                            <li><a href="{% url 'your_posts' %}">Vos posts</a></li>
                            <li><a href="{% url 'subscriptions' %}">Abonnements</a></li>
                            
                        </ul>
                    </div>
                {% endif %}
            </div>
        </header>

        <main>
            <div class="content_page">
                <div class="title_page">
                    {% block content_title %}
                    {% endblock %}
                </div>
                
                <div class="box content_block">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </main>
        
    
    </body>
</html>